<form>
  <div class="form-group">
    <label for="username">Enter your Username</label>
    {{input value=username id='username'}}
  </div>
  <button class="ui primary button" {{action 'signIn'}}>Sign In!</button>
</form>
