@import url("https://fonts.googleapis.com/css?family=Inconsolata");

body {
  font-family: Inconsolata, serif;
}
img {
  height: 250px;
  width: auto;
}
.container {
  margin-bottom: 2em;
}
.jumbotron {
  text-align: center;
  color: white;
  background-image: url(https://images.unsplash.com/reserve/m6rT4MYFQ7CT8j9m2AEC_JakeGivens%20-%20Sunset%20in%20the%20Park.JPG?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=a5997eee6e3da2ce36290fe1eccbf800);
  background-position: bottom;
  background-size: cover;
}
.panel {
  border:1px solid black;
  border-style: outset;
  padding: 5px;
}
