<h2>About Pickups</h2>

<p>
  Pickups was created with the player in mind. Find the games that are right for you without the hassle of joining a league.
</p>

<p>Please contact with questions: </p>
<p>Satchel Grant: <a href="https://github.com/grantsrb">grantsrb</a></p><br>
