{{#link-to 'index'}}<div class="jumbotron">
  <h1>Pickups</h1>
</div>{{/link-to}}
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <div class="ui vertical menu">
        <div class="item">
          {{#link-to 'new-group'}}<button class="ui primary button">New Pickup Group</button>{{/link-to}}
        </div>
        <div class="item">
          {{#link-to 'index'}}Home{{/link-to}}
        </div>
        <a class="item">
          {{#link-to 'profile-page'}}Favorites{{/link-to}}
        </a>
        <a class="item">
          {{#link-to 'log-in'}}Sign-In{{/link-to}}
        </a>
        <a class="item">
          {{#link-to 'about'}}About{{/link-to}}
        </a>
      </div>
    </div>
    <div class="col-xs-9">
      {{outlet}}
    </div>
  </div>
</div>
